#root {
  margin: 0 auto;
  text-align: center;
}

.login-container{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  background-color: rgb(226, 126, 126);
  border-radius: 40px;
  padding: 50px;
}

.login-form label{
  color: #000;
}

.text-muted{
  color: #000;
  
}

li{
  list-style: none;
}

.product-quantity{
  margin: 50px 0;
}

.product-name-cart{
  margin: 20px;
}

.total-price{
  display: flex;
  justify-content:space-between;
}

.prod-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prod-container img{
  margin: 50px 0;
}

.options-holder{
  display: flex;
  justify-content: center;
}


.purchase-product-link{
  text-decoration: none;
}

p{
  width: 600px;
  text-align: center;
}

.check-button{
  position: fixed;
  margin: 20px;
  bottom: 0;
}

.spinner-overlay{
   background-color: #0003;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

